body {margin: 0px; padding: 0px; box-sizing: border-box; font-size: 12px;}

#main-content {
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.label-wrapper {
	position: absolute;
	right: 10px;
	top: 100px;
	z-index: 500;
}

#slider {
	-webkit-appearance: none;
	width: 100%;
	position: absolute;
	bottom: 10px;
	left: 0px;
	height: 7px;
	z-index: 100;
	cursor: pointer;
	background: black;
	opacity:0.4

}

#slider:hover {
  opacity: 0.7;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 25px;
  background: grey;
  cursor: pointer;
}

.map-container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	width: 100%;
	z-index: 50;
}

#map-leaflet{
    width:100%;
    height:100%;
    position:absolute;
    z-index:100; 
    top:0;
    left:0;
}